.App {
  font-family: "McLaren", cursive;
  text-align: center;
  line-height: 1;
  padding: 1;

  max-width: 700px;
  margin: 30px auto;
  border: 3px linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  border-radius: 12px;
  color: rgb(92, 90, 90);
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
