li {
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.tempIcon {
  position: relative;
  top: 38px;
  right: 30px;
}
.Temperature {
  font-size: 60px;
}
.Unit {
  position: relative;
  font-size: 16px;
  top: -28px;
}
.Details {
  position: relative;
  top: 38px;
}
.col-small-2 {
  position: relative;
  right: -60px;
}
